/* Global reset style */
* {
    margin: 0;
    padding: 0px;
    /* font-family: ui-monospace; */
}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Root font size for responsiveness */
html {
    font-size: 11px;
    font-family: sans-serif;;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

/* Header container */
header {
    background: #FFF;
    width: 70%;
    padding: 15px 0;
    margin: 0 auto;
}

/* Flex container for child elements */
.wrapper-child {
    display: flex;
    margin: 0 auto;
    background: #FFF;
}

/* Logo Section */
.logo-section {
    width: 98px;
    height: 65px;
    flex: 1;
    align-items: center;
}

/* Navbar */
nav {
    display: flex;
    flex: 5; 
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    font-size: 1rem; /* Adjustable based on root font size */
}

nav ul li:hover {
    color: #007BFF; 
    text-decoration: underline;
}

.menu-links.active {
    color: #048711;
}

/* Contact Section */
.contact-section {
    flex: 1; 
    text-align: right; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.contact-section > img {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    object-fit: cover;
}

/* Section 1 CSS */
section.first-section {
    display: flex;
    width: 70%;
    position: relative;
    margin: 0 auto;
    padding: 60px 0px;
}

.first-section div:first-child {
    flex: 1;
    align-content: center;
}

.first-section div:first-child div {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    font-size: clamp(1.7rem, 3vw, 2.7rem); /* Responsive heading */
}

.first-section div:first-child div:first-child {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    font-weight: normal;
    margin: 28px 0px;
}

.first-section div:first-child div:nth-child(2) {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.first-section div:first-child div:nth-child(2) span {
    margin-left: 10px;
    text-decoration: underline;
    color: #048711;
}

.first-section div:first-child div:last-child {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    font-weight: normal;
    margin: 28px 0px;
}

.first-section > div:last-child {
    flex: 1;
    text-align: right;
    position: relative;
    height: auto;
    overflow: hidden;
}

.first-section > div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    margin: 0;
}

/* Section 2 : CSS */
.second-section {
    background: #048711;
    width: 100%;
    height: 400px;
}