/* Small devices (large phones) - 1024px to 1440px */
* {
    margin: 0;
    padding: 0px;
}

/* Root font size for responsiveness */
html {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: #FFF;
    width: 100vw;
    height: calc(10vh);
    position: fixed;
    z-index: 99999;
    top: 0;
}

/* Only show on larger screens */
header>div.wrapper-child>nav,
header>div.wrapper-child>div.contact-section {
    display: flex;
}

/* End */

header>div.wrapper-child {
    width: 80%;
    background: #FFF;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

header>div.wrapper-child>div.logo-section {
    flex: 1;
    text-align: left;
}

header>div.wrapper-child>div.logo-section>img {
    width: 65px;
    height: 55px;
}

/* Logo Section */
.logo-section {
    width: 98px;
    height: 65px;
    flex: 1;
    align-items: center;
}

/* Navbar */
nav {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    font-size: 1rem;
}

nav ul li:hover {
    color: #007BFF;
    text-decoration: underline;
}

.menu-links.active {
    color: #048711;
}

/* Contact Section */
.contact-section {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-section>img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    object-fit: cover;
}

header>div.wrapper-child>div.toggle-bar {
    flex: 3;
    text-align: right;
    color: #038712;
    display: none;
}

header>div#menu-mobile {
    width: 90%;
    background-color: #FFF;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: end;
    display: none;
}

header>div#menu-mobile>nav {
    flex: 2;
    flex-grow: 2;
    padding: 20px 0px 20px 15px;
    height: 75vh;
    background: #03871217;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header>div#menu-mobile>nav>span {
    font-weight: bold;
}

header>div#menu-mobile>nav>ul>li {
    list-style: none;
    padding: 20px 0px;
}

header>div#menu-mobile>nav>ul>li:hover,
header>div#menu-mobile>nav>ul>li:active {
    background: #FFF;
    color: #048711;
    padding: 20px 20px;
    font-weight: bold;
    border-radius: 10px 0px 0px 10px;
    border-left: 2px solid #048711;
}

header>div#menu-mobile>div.contact-section {
    flex: 1;
    flex-grow: 0;
    background-color: #048711;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFF;
    font-weight: bold;
}

header>div#menu-mobile>div.contact-section>img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
    border: 2px solid #FFF;
}

/* Section 1 : CSS  */

@media (max-width: 1024px) {
    section.first-section {
        position: relative;
        padding: 0px 100px;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-height: 85vh;
    }
}

@media (min-width: 1025px) {
    section.first-section {
        position: relative;
        padding: 0px 120px;
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 85vh;
    }
}

section.first-section>div.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section.first-section>div.leftSide>span {
    font-size: clamp(1.3rem, 2vw, 1.8rem);
    font-weight: normal;
}

section.first-section>div.leftSide>div.main-content:nth-child(2) {
    font-weight: bold !important;
}

section.first-section>div.leftSide>div.main-content:nth-child(3) {
    margin-top: -18px;
}

section.first-section>div.leftSide>div.main-content {
    font-size: clamp(2.4rem, 3vw, 3rem);
}

section.first-section>div.leftSide>div.main-content>span:first-child {
    text-decoration: underline;
    color: #048711;
}

/*
* Button special 
*/
div.call_to_action_btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 20px 0px 0px 0px;
}

div.call_to_action_btn>div.profile-button,
div.call_to_action_btn>div.hire-button {
    justify-items: center;
    border-radius: 100px;
    flex: 1;
    flex-shrink: 0;
    font-weight: bold;
    flex-basis: 1;
}

div.call_to_action_btn>div.profile-button {
    background: #048711;
    display: flex;
    gap: 5px;
    padding: 10px;
}

div.call_to_action_btn>div.profile-button>div.button {
    flex: 1;
    text-align: center;
    background: #FFF;
    color: #000;
    padding: 20px 0px 20px 0px;
    border-radius: 100px;
}

div.call_to_action_btn>div.profile-button>i {
    align-self: center;
    background: #FFF;
    color: #048711;
    padding: 20px 22px;
    border-radius: 100px;
}

div.call_to_action_btn>div.hire-button {
    border: 5px solid #000;
    background: orange;
    padding: 23px 10px;
}

/*
* End of Button special 
*/

section.first-section>div.rightSide {
    flex: 1;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    /* display: none; */
}

section.first-section>div.rightSide img {
    /* width: 420px; */
    height: 480px;
    margin-right: -30px;
}

/* End of Section 1 : CSS */


/* Section 2 : CSS */
.second-section {
    position: relative;
    width: 100%;
    min-height: 70vh;
    background: #048711;
    overflow: hidden;
    margin-top: -5px;
}

.second-section>div.content {
    padding: 120px 0px 120px 100px;
}

.second-section>div.content>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

.second-section .content div.label {
    flex: 2;
    font-size: clamp(1rem, 3vw, 1.2rem);
    align-self: self-start;
    align-content: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 0px 100px 0px 0px;
}

.second-section>div.content>div:first-child {
    color: #FFF;
}

.second-section>div.content>div i {
    color: #000;
}

.second-section .content div.label i {
    color: #FFF;
}

.second-section .content>div:nth-child(2) h1 span {
    color: #EEFF00;
}

.second-section .content div.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    width: 100%;
    gap: 20px;
    max-height: 400px;
    border-radius: 10px;
}

.second-section .content div.scrollable>div.main-content {
    background: #FFF;
    min-width: 300px;
    min-height: 240px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    color: #000;
    padding: 18px;
    align-items: start;
    gap: 2em;
}

.second-section .content div.scrollable>div.main-content>article {
    font-size: clamp(1rem, 1.6vw, 2rem);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.second-section .content div.scrollable::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.second-section .content div.scrollable {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Section 3 CSS */
section.third-section {
    display: flex;
    flex-direction: row;
    width: auto;
    position: relative;
    margin: 0 auto;
    padding: 60px 100px;
}

.third-section>div:first-child {
    flex: 1;
}

.third-section>div:first-child {
    display: flex;
    flex-direction: column;
}

.third-section>div:first-child>div.top-section {
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.third-section div:first-child>div.top-section .blue,
.third-section div:first-child>div.top-section .green,
.third-section div:first-child>div.top-section .black,
.third-section div:first-child>div.top-section .yellow {
    flex: 1 1 auto;
    flex: auto;
    border-radius: 100px;
    margin: 5px;
    padding: 20px 10px;
    align-content: center;
    min-width: 100px;
    max-width: 200px;
    font-weight: bold;
}

.third-section>div:first-child>div.top-section .blue {
    background: #043887;
    color: #FFF;
}

.third-section>div:first-child>div.top-section .green {
    background: #048711;
    color: #FFF;
}

.third-section>div:first-child>div.top-section .black {
    background: #000;
    color: #FFF;
}

.third-section>div:first-child>div.top-section .yellow {
    background: #EEFF00;
    color: #000;
}

.third-section>div:first-child>div.bottom-section {
    width: 100%;
    height: auto;
}

.third-section>div:first-child>div.bottom-section img {
    width: 100%;
    height: auto;
    padding-top: 90px;
}

.third-section>div:last-child>div.achievements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.third-section>div:last-child>div.achievements div {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    flex: 1;
    text-align: center;
}

.third-section>div:last-child>div.achievements div>div.circle {
    border-radius: 100%;
    color: #FFF;
}

.third-section>div:last-child>div.achievements div>div.circle.black {
    background: #000;
}

.third-section>div:last-child>div.achievements div>div.circle.blue {
    background: #043887;
}

.third-section>div:last-child>div.achievements div>div.circle.green {
    background: #048711;

}

.third-section>div:last-child>div.achievements div.circle span {
    padding: 50px;
}

.third-section>div:last-child>div.achievements div>span.black {
    color: #000;
}

.third-section>div:last-child>div.achievements div>span.blue {
    color: #043887;
}

.third-section>div:last-child>div.achievements>div>span.green {
    color: #048711;
}

.third-section>div:last-child>div {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.third-section>div:last-child div:first-child {
    display: inline;
}

.third-section>div:last-child div.top:nth-child(2) {
    font-size: clamp(2rem, 3vw, 2.7rem);
}

.third-section>div:last-child div.top h1 span {
    color: #048711;
    font-style: italic;
}

.third-section>div:last-child.top div:nth-child(3) {
    font-size: clamp(0.8rem, 2vw, 1.4rem);
}

.third-section>div:last-child {
    flex: 1;
    padding-top: 20px;
}

.third-section>div:last-child>div.profile-button {
    display: flex;
    flex-direction: row;
    background: green;
    border-radius: 40px;
    margin: auto;
    width: 60%;
    align-items: center;
    text-align: center;
}

.third-section>div:last-child>div.profile-button .button {
    flex: 5;
    background-color: #FFF;
    text-align: center;
    border-radius: 100px;
    padding: 15px 10px;
    margin: 5px;
    font-weight: bold;
}

.third-section>div:last-child>div.profile-button .button {
    margin: 10px;
}

.third-section>div:last-child>div.profile-button .icon {
    /* flex:1; */
    margin-right: 10px;
    padding: 12px 16px;
    background: #FFF;
    border-radius: 100px;
    color: #048711;
}

/* Section 4 : CSS */
.fourth-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #048711;
}

.fourth-section div.content {
    padding: 60px 100px 0px 100px;
    color: #FFF;
}

.fourth-section div.content>div:first-child {
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: #000;
}

.fourth-section div.content>div:first-child>i {
    color: #FFF;
}

.fourth-section .content div h1 {
    flex: 3;
    font-size: clamp(2rem, 3vw, 2.7rem);
}

.fourth-section>div.content>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: clamp(0.5rem, 1vw, 0.95rem);
    margin-bottom: 50px;
}

.fourth-section>div.content>div span {
    color: #EEFF00;
}

.fourth-section .content div.portfolio {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.fourth-section .content div.portfolio a {
    text-decoration: none;
}

.fourth-section .content div.portfolio>.portfolio-title {
    background-color: #FFF;
    color: #048711;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    align-self: flex-start;
    font-weight: bold;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.fourth-section .content div.portfolio>.portfolio-main-content {
    background-color: #FFF;
    width: 100%;
    height: auto;
    border-radius: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.fourth-section .content div.portfolio>.portfolio-main-content>div.top,
.fourth-section .content div.portfolio>.portfolio-main-content>div.bottom {
    width: 100%;
    height: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.fourth-section .content div.portfolio>.portfolio-main-content>div.top img,
.fourth-section .content div.portfolio>.portfolio-main-content>div.bottom img {
    width: 300px;
    height: 200px;
    padding: 5px;
}

.fourth-section .content div.portfolio>.portfolio-main-content>div.top::-webkit-scrollbar,
.fourth-section .content div.portfolio>.portfolio-main-content>div.top::-webkit-scrollbar-track,
.fourth-section .content div.portfolio>.portfolio-main-content>div.bottom::-webkit-scrollbar,
.fourth-section .content div.portfolio>.portfolio-main-content>div.bottom::-webkit-scrollbar-track {
    display: none;
}

.fourth-section .content div.buttons {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    justify-items: center;
}

.fourth-section .content div.buttons div {
    background: #FFF;
    padding: 20px 30px;
    border-radius: 100px;
    color: #000;
    font-weight: bold;
    margin: 10px;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

/* Section 5 CSS */
section.fifth-section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 60px 100px;
}

section.fifth-section div.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-self: flex-start;
}

section.fifth-section div.left div.top:first-child {
    text-align: left;
}

section.fifth-section div.left div.top h1:first-child {
    font-size: clamp(2rem, 3vw, 2.7rem);
}

section.fifth-section div.left div.top h1:first-child span {
    color: #048711;
}

section.fifth-section div.left div.contact_me {
    background-color: #048711;
    padding: 7px;
    width: 240px;
    border-radius: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: left;
    justify-content: left;
    justify-items: center;
    gap: 10px;
    margin: auto;
}

section.fifth-section div.left div.contact_me div.button {
    background: #FFF;
    padding: 20px;
    border-radius: 100px;
}

section.fifth-section div.left div.contact_me div.icon {
    background: #FFF;
    padding: 20px 25px;
    border-radius: 100px;
    color: #048711;
}

section.fifth-section div.right {
    flex: 1;
}

section.fifth-section div.right div.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 20px;
}

section.fifth-section div.right>div.top>img {
    width: 130px;
    height: 130px;
    border: 4px solid #038712;
    border-radius: 100px;
    object-fit: scale-down;
    margin-bottom: 10px;
}

section.fifth-section div.right div.bottom {
    flex: 1;
    width: 100%;
    height: 200px;
    background: url('../img/tools/glasses.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Footer : CSS */
footer {
    position: relative;
    width: 100%;
    background: rgb(217, 217, 217, 24%);
}

footer div.content {
    padding: 60px 100px;
}

footer div.content>div.footer-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 4px solid #048711;
    text-align: left;        
    align-items: center;
}

footer>div.content>div.footer-top>div.right>div.call_to_action_btn {
    flex-direction: row;
}

footer div.content>div.footer-top>h1 {
    flex: 1
}

footer div.content>div.footer-top>h1 span {
    color: #048711;
}

/* Footer Bottom Section */
footer div.content>div.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 35px;
}

/* Description Section */
footer div.content>div.footer-bottom div.describe {
    flex: 2;
    /* flex-basis: content;  */
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: fit-content;
}

/* Content Section */
footer div.content>div.footer-bottom div.cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Top Section (Bold Heading) */
footer div.content>div.footer-bottom div.cont .top {
    font-weight: bold;
    color: #048711;
}

/* Bottom Section with List */
footer div.content>div.footer-bottom div.cont .bottom ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* Special List for nth-child(3) */
footer div.content>div.footer-bottom div.cont:nth-child(3) .bottom ul {
    flex-direction: column;
    gap: 10px;
}

/* List Items */
footer div.content>div.footer-bottom div.cont .bottom ul li {
    list-style: none;
    line-height: 30px;
}

/* Icons in Bottom Section */
footer div.content>div.footer-bottom div.cont .bottom i {
    color: #048711;
}

/* Input Form Section */
footer div.content>div.footer-bottom div.cont .bottom.input-form {
    background: rgba(204, 204, 204, 0.2);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


footer div.content>div.footer-bottom div.cont .bottom.input-form input {
    flex: 2;
    height: 100%;
    border: 0px;
    padding: 5px;
    background: transparent;
}

footer div.content>div.footer-bottom div.cont .bottom.input-form button {
    background: #048711;
    padding: 5px 8px;
    border: 0px;
    border-radius: 10px;
}

footer div.content>div.footer-bottom div.cont .bottom.input-form button i {
    color: #FFF;
}

footer div.content>div.footer-bottom div.cont .bottom.input-form input:active,
footer div.content>div.footer-bottom div.cont .bottom.input-form input:focus {
    outline: none;
}